@page
@model Recruit.Pages.AdminModel
@{
}


<div class="div_top_table_admin">

    <h1>List of Candidates for various vaccancies</h1>

    <div class="btns_admin_top">
        <a class="shortlisted_ancortag" href="shortlisted">Shortlist</a>
        <a class="Reject_ancortag" href="/Rejected">Rejected</a>
    </div>
</div>

<table>

    
  <thead>

       <th>Application no</th>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Email</th>
       <th>Qualification</th>
       <th>Skills</th>
       <th>Applied for</th>
       <th>Date</th>
       <th>Action</th>

  </thead>
    <tbody>

        @foreach (var items in Model.applicantlist )
        {
            <tr>
                <td>@items.Form_no</td>
                <td>@items.firstname</td>
                <td>@items.lastname</td>
                <td>@items.email</td>
                <td>@items.qualification</td>
                <td>@items.skills</td>
                <td>@items.job</td>
                <td>@items.Created_at</td>
                <td class="td_action">
                    <a class="action_short" href="/Shortlist?Form_no=@items.Form_no">Shortlist</a>
                                           
                    <a class="action_reject" href="/Rejected?Form_no=@items.Form_no">Reject</a>
                </td>
            </tr>


           
        }
       
       

    </tbody>



</table>